[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "zzlite"]
	path = zzlite
	url = https://github.com/fkoh111/zzlite
	shallow = true
	registered = true
